/* Selectors:
1. Selecting by tag,
2. Selecting by id, id is used when selecting a single element.
3. Selecting by class, class is used when selecting multiple elements.
4. Universal selectors
5. Descendant selectors
6. Adjacent selectors
7. Attribute selectors
8. Pseudo-classes and pseudo-elements 

When designing with CSS, first design the tags with the broadest headings, then design the other tags. */


/* 1. Selecting by tag, body selector, "mavi" is the attribute, and "renk" is the value */
body{
    background-color: aqua;
}

h1, h2{
    color:maroon;
    background-color: chartreuse;

}

/* 2. Selecting by id, the # (sharp) symbol is used when selecting by id */
#p_1{
    font-size: 30px;
}

#p_2{
    color: red;
}

/* 3. Selecting by class, the . symbol is used when selecting by class */
.kutu{
    width: 80px;
    height: 80px;
    background-color: burlywood;
    margin-bottom: 10px;
}
#kutu{
    background-color: blueviolet;
}

/* If you use the same selectors one after the other and write something
inside, the design at the bottom will be taken into account in the CSS 
design. If you use different selectors one after the other,
the non-overlapping settings in the selectors will be added to the tag.
In the case of overlapping settings, the one with higher priority will 
be considered. Id has higher priority than class. When you use a design
that involves children and another design that specifies fewer properties,
the design involving children will take precedence. */


/* 4. Selecting with universal selectors, the * (star) is used 
to select everything (all elements!) on the entire page. */

*{
    margin: 0px;
    padding: 0px;
}

/* 5. Selecting with descendant or child selectors */
ul li{
    list-style-type: none;
/* removes the bullet points from the list */
}
ul li a{
    color: red;
}
ul li em{
    color: black;
}
.site li strong{
    color: yellow;
}

/* In this part, it doesn't matter if there are other tags between the tags. */
h3 b{
    color: blue;
}
h3 em > b{
    color: salmon;
}
/* If there is a <b> inside <h3> and <em>, and <b> is a direct child of
<em> (i.e., <em> can contain other content), it changes the color of <b> 
to salmon. */

/* 6. Adjacent selectors */
h3+p{
    font-size: 18px;
    color:pink;
    font-style: italic;
} 
/* If there is a <p> element immediately following an <h3> element, it applies this style to that <p> element. */

/* 7. Attribute selectors */
a[title="link_1"]{
    color:chartreuse;
}
input[placeholder="Adınızı giriniz."]{
    color: blue;
    background-color: red;
}

input[id="i_1"]{
    color: green;
    background-color: aquamarine;
    width: 300px;
}
input[value="temizle"]{
    background-color:chartreuse;
    color:coral;
    width:75px;
    height:75px
}