/* Pseudo-classes */
/* a:link specifies the properties of unvisited links, while 
a:visited specifies the properties of visited links. */

a:link{
    text-decoration:none;
    color:green;
}
a:visited{
    color:red;
}
#li_1 a{
    background-color: burlywood;
    color:black;
}
a:hover{
    color:bisque;
    background-color: black;
}

a:active{
    color:blueviolet;
}
/* it holds the properties for one or two seconds when you click on the link */

input[type="text"]:focus{
    background-color: yellow;
    border:5px solid red;
}
form input:hover{
    color:red;
    background-color: blue;
}

/* Pseudo-elements */
p::first-letter {
    font-size: 30px;
}
body p::before{
    content:"ybs"; 
    color: orange;
} 
p.asdfg::first-letter {
    font-size: 45px ;
}
 


