/* Priority order */
html{
    background-color: #0099FF;
} 
body{
    background-image: url(../İmg/pexels-stijn-dijkstra-3265460.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */
    min-height: 1200px;
    min-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#new{
    color:black ;

}
.class{
    color: yellow !important;
}
li{
    color: blue;
}   
/* In the order, specific selectors take precedence, and hierarchically, 
the design at the bottom takes precedence. You can change the situation 
with !important. */


#p_1{
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* If the colors are not defined in order, it will take the next one. */
    font-size: 23px;
    font-style: italic;
    text-transform: capitalize;
    /* uppercase lowercase capitalize */
    text-decoration: line-through;
}

#p_2{
    text-indent: 60px;
    text-align: center;
    line-height: 28px;
    letter-spacing: 25px;
    word-spacing: 25px;
    text-shadow: 4px 4px 5px #990033;
    /* Adds a shadow 4 pixels to the right and 4 pixels down from the text.
    The shadow's blur amount is 5 pixels and the color of the 
    shadow will be #990033 */
    /* white-space: normal; 
    direction: ltr; */

}

#box1 {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    background-color: #ccc;
    width: 100px;
    height: 100px;
    /* Inline elements do not have width and height properties,
    and margins and paddings only work horizontally. In contrast, 
    with inline-block, you can do everything. */

}
#box1 input {
    font-size: 8px;
}
#box1 p {
    font-size: 14px;
}
input[type="submit"]{
    color:blue;
    background-color:chartreuse;
}

#box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: purple;
    width: 100px;
    height: 100px;
    margin: 60px;
}
#box3{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    padding-top: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    /* This way, we added the padding values to the content. */
}  
.menu {
    position: fixed;
    top:-90px;
    width: 550px;
    height: 50px;
    margin: 100px auto;
    border-bottom: 4px solid red;
    background-image: url(../İmg/bulut-turleri.jpg) ;
}
.menu, .menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.menu ul {
    margin: 0px;
    padding: 0px;
    width: auto;
}
.menu li{
    margin-right: 10px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #ddd;
    display: none;
}
.menu li:last-child{
    margin-right: 0px;
}
.menu:hover li {
    display: inline;
/* Whether inline or display: inline, this applies
 because we adjusted the dimensions from the outer div. */

}

.menu li a {
    color: blue;
    font-size: 14px;
    text-decoration: none;
    padding: 14px 32px;
    display: block;
}

.menu li a:hover {
    background: red;
    color: white;
    font-size: 17px;
    transition: 0.2s;
}